@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
:root {
  --primary-font: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: var(--primary-font);
  text-align: center;
  margin: 0;
}

header {
  background-color: rgba(59, 126, 126, 0.7);
  height: 200px;
  width: 100%;
  padding: 20px;
}

form {
  margin: 50px;
}